.pokemon-card{
  background: #edffff;
    border: 5px solid #9f9a9a;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
    margin: 10px;
    border: 5px solid black;
}
